
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
            <i class="fas fa-images"></i>
            <div class="count">@ViewBag.sliderCount</div>
            <div class="title">Slider Sayısı</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
            <i class="fas fa-id-badge"></i>
            <div class="count">@ViewBag.skillCount</div>
            <div class="title">Yetenek Sayısı</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box dark-bg">
            <i class="fas fa-user-graduate"></i>
            <div class="count">@ViewBag.educationCount</div>
            <div class="title">Eğitim Sayısı</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box green-bg">
            <i class="fas fa-apple-alt"></i>
            <div class="count">@ViewBag.experienceCount</div>
            <div class="title">Deneyim Sayısı</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

</div>
<!--/.row-->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
            <i class="fas fa-list"></i>
            <div class="count">@ViewBag.interestedCount</div>
            <div class="title">İlgi Alanı Sayısı</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
            <i class="fas fa-comment-slash"></i>
            <div class="count">@ViewBag.unCheckedCommentCount</div>
            <div class="title">Onaylanmamış Yorumlar</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box dark-bg">
            <i class="fas fa-comment"></i>
            <div class="count">@ViewBag.checkedCommentCount</div>
            <div class="title">Onaylanmış Yorumlar</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box green-bg">
            <i class="fas fa-photo-video"></i>
            <div class="count">@ViewBag.blogCount</div>
            <div class="title">Blog Sayısı</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

</div>
<!--/.row-->
</div>
<!--/.row-->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
            <i class="fas fa-th-list"></i>
            <div class="count">@ViewBag.categoryCount</div>
            <div class="title">Kategori Sayısı</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
            <i class="fas fa-envelope-open"></i>
            <div class="count">@ViewBag.readMessageCount</div>
            <div class="title">Okunmuş Mesajlar</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box dark-bg">
            <i class="fas fa-envelope"></i>
            <div class="count">@ViewBag.unReadMessageCount</div>
            <div class="title">Okunmamış Mesajlar</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box green-bg">
            <i class="fas fa-sms"></i>
            <div class="count">@ViewBag.messageCount</div>
            <div class="title">Toplam Mesaj Sayısı</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

</div>
<!--/.row-->
