@model IEnumerable<MyWebsite.Models.Model.Experiences>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center mb-5">Deneyim Bölümü</h2>

<p>
    @Html.ActionLink("Yeni Deneyim Ekle", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-responsive-lg">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workplace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workplace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @item.Description.Substring(0, 40).ToString()
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.Id }, new { @class = "btn btn-secondary" }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
