@model IEnumerable<MyWebsite.Models.Model.Comments>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center mb-5">Onay Bekleyen Yorumlar</h2>

<table class="table table-responsive-lg table-bordered">
    <thead>
        <tr>
            <th>
                Ad
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @item.Comment.Substring(0, 20).ToString()
                </td>
                <td>
                    @Html.ActionLink("Onay Ver", "Checked", new { id = item.Id }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Detaylar", "Details", new { id = item.Id }, new { @class = "btn btn-secondary" }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
