@using PagedList
@using PagedList.Mvc
@using MyWebsite.Models.Model
@model IPagedList<Blogs>
@{
    ViewBag.Title = "KategoriBlogGonderileri";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<!--BLOG-->
<section id="blog" class="mt-5">
    <div class="cerceve">
        <div class="row">
            <!--LEFT-->
            <div class="col-lg-3 left">
                @{
                    Html.RenderAction("PartialArama", "Home");
                }

                @{
                    Html.RenderAction("PartialCategories", "Home");
                }

                @{
                    Html.RenderAction("PartialMostReadBlogPosts", "Home");
                }
            </div>
            <!--RİGHT-->
            <div class="col-lg-8 right p-5 ml-auto">
                @foreach (var item in Model)
                {
                    <div class="col-12 py-3">
                        <div class="carousel slide" data-ride="carousel" id="@item.Title">
                            <div class="carousel-inner">
                                @{
                                    MyWebsite.Models.DataContext.PersonalWebsiteContext context = new MyWebsite.Models.DataContext.PersonalWebsiteContext();
                                    IEnumerable<BlogImages> images = context.BlogImages.Where(x => x.BlogId == item.Id).ToList();
                                    int number = 0;
                                }
                                @foreach (var img in images)
                                {
                                    if (number < 1)
                                    {
                                        <div class="carousel-item active">
                                            <img src="@img.ImagePath" class="d-block img-fluid w-100" alt="@item.Title Blog                 @item.Categories.CategoryName">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <img src="@img.ImagePath" class="d-block img-fluid w-100" alt="@item.Title Blog                 @item.Categories.CategoryName">
                                        </div>
                                    }
                                    number += 1;
                                }
                            </div>
                            <a href="#@item.Title" title="Önceki" class="carousel-control-prev" role="button" data-slide="prev">
                                <i class="fas fa-arrow-circle-left"></i>
                            </a>
                            <a href="#@item.Title" title="Sonraki" class="carousel-control-next" role="button" data-slide="next">
                                <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                        <h4 class="text-center">@item.Title.ToUpper()</h4>
                        <p class="text-muted">
                            @Html.Raw(item.Description.Substring(0, 100))
                        </p>
                        <div class="btnDevam row">
                            <div class="col-6">
                                <label class="font-weight-bolder pt-2">@item.Categories.CategoryName</label>
                            </div>
                            <div class="col-6 text-right">
                                <a href="/Home/BlogGonderiDetay/@item.Id" title="@item.Title" class="btn">Devamını Oku</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                }
                @Html.PagedListPager(Model, sayfa => Url.Action("KategoriBlogGonderileri", "Home", new { sayfa }), PagedListRenderOptions.ClassicPlusFirstAndLast)
            </div>
        </div>
    </div>
</section>


