@model IEnumerable<MyWebsite.Models.Model.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center mb-5">Hakkımda Bölümü</h2>

<table class="table table-bordered table-responsive-lg">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResimUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyJobFA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyJob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyCV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            <img class="img-fluid" src="@item.ResimUrl" width="200px" />
        </td>
        <td style="font-size:34px;">
            @Html.Raw(item.MyJobFA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MyJob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @if (item.ResimUrl != null)
            {
            <a href="@item.MyCV" style="text-decoration:none">Özgeçmiş Dosyam</a>
            }
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.Id },new { @class="btn btn-info"}) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.Id }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
